
\documentclass[10pt,a4paper]{jsarticle}
\usepackage{robomech}
\usepackage[dvips]{graphicx}
\usepackage{tabularx,amsmath,amssymb}
\usepackage{txfonts,bm}
%\usepackage{flushend}
%
\title{高時空間分解能データグローブを用いた \\
物体操作のロバストな接触運動パターンの抽出}
\engtitle{Extraction of robust tactile-motor patterns from in-hand manipulation
\\ 
using data glove with high spatiotemproal resolutions}
\author{
○学\hspace{1zw}若田部 亮 (東京大学)\hspace{2zw}
学\hspace{1zw}山田 康智 (東京大学)\hspace{2zw}
学\hspace{1zw}鷺坂 隆志 (東京大学)\hspace{2zw}\\
正\hspace{1zw}大村 吉幸 (東京大学)\hspace{2zw}
正\hspace{1zw}國吉 康夫 (東京大学)}
\engauthor{%
*Ryo WAKATABE, The University of Tokyo, wakatabe@isi.imi.i.u-tokyo.ac.jp\\
 Yasunori YAMADA, The University of Tokyo, y-yamada@isi.imi.i.u-tokyo.ac.jp\\
 Takashi SAGISAKA, The University of Tokyo, sagisaka@isi.imi.i.u-tokyo.ac.jp\\
 Yoshiyuki OHMURA, The University of Tokyo, ohmura@isi.imi.i.u-tokyo.ac.jp\\
 Yasuo KUNIYOSHI, The University of Tokyo, kuniyosh@isi.imi.i.u-tokyo.ac.jp}
% 英語のabst
\abstract{
Physiological studies about hand manipulation have revealed coordination between precision grips and tactile information.
%
Recently, development of data glove allows us to extend the measuring area from fingertips to entire hand and investigate more dynamic hand manipulation.
%
However, there are few studies which characterize hand manipulation with high spatio-temporal resolutions.
%
Here, we investigated how hand manipulation of rotating objects changes according to task difficulty using a data glove with high spatio-temporal resolutions, which can simultaneously measure both tactile inputs and hand motions.
%
We characterized hand manipulation by tactile motor patterns which are robust at both temporal timing and every trials.
%
As a result, we find that such robust tactile-motor patterns are localized in phase of each task.
%
Moreover, we suggest that when task difficulty increases human doesn't change such robust tactile-motor patterns, but adds new patterns to those at an easy task.
}
% キーワード
\keyword{Tactile Sensing Glove, Hand Motion Capture, In-hand Manipulation, High Spatiotemporal Resolution}
%


\begin{document}
\setlength{\baselineskip}{4.685truemm}% 52 line
\maketitle
\thispagestyle{empty}

% Intro Section
\section{研究背景と目的}

人の手は巧みに物体を扱う．人の手は安定な物体把持のみならず，不安定な物体操作を素早くかつ精緻に実現できる．物体操作には，手の精密かつ自由度の高い運動能力に加えて，触覚は物体操作に重要であることが知られている\cite{moberg1962criticism}．人の手は身体の他の部位に比べて低い人の手は身体の他の部位に比べて低い二点弁別閾を持ち，手の触覚の空間分解能は高い\cite{weinstein1968intensive}．この空間分解能の高い手の触覚を運動に反映させる方法は，古くから科学及び工学の興味の対象である．実際に，接触運動の関係性は生理学で調べられ\cite{SensorimotorControlOfManipulationJohansson}，それがロボットハンドに応用されている\cite{slipandgrip}．

指先の触覚の求心性神経を直接計測する詳細な調査によって，指先の触覚と運動の関係性が明らかになっている．指先での物体把持における物体の滑りに着目して，触覚と運動調節の時間的な関係を抽出されている\cite{SensorimotorControlOfManipulationJohansson}．しかし，この方法は侵襲的であるため，計測可能な触覚の数が限られている．そのため，手全体を計測することはできない．

近年では計測技術の向上に伴って，物体把握及び物体操作における接触運動が，手全体で計測可能になった\cite{SagisakaONOK12}\cite{Ohmura:drift}．触覚を計測可能なデータグローブで物体把握を計測し，クラスタリングされた触覚によって物体把握が特徴付けされている\cite{Faria}．しかし，この方法では単純な物体把握動作しか調べられていない．一方，手全体での物体操作における接触運動を同時計測するセットアップもある\cite{Kondo}．これによって，触覚パターンのリアルタイムな認識がなされている．しかし，これらのセットアップではリンク単位で接触情報を平均してしまっており，人の手の特徴である高い空間分解能を十分に捉えきれていない．

以上のことから本研究の目的を，手全体での物体操作を高時空間分解能データグローブによって計測し，物体操作を高い時空間分解能で特徴づける触覚と運動を抽出することとする．


% Method Section
\section{方法}
\subsection{高時空間分解能データグローブ}

手全体での人の物体操作の計測のためには，高時空間分解能の接触運動の同時計測と，人の触覚と運動の阻害の少ないことが求められる．

触覚計測には，人の手の二点弁別域を参考に設計された鷺坂らの高時空間分解能センサグローブを用いた(\figref{fig:glove}~(a))\cite{SagisakaONOK12}．このセンサには約1000点の圧力センサ素子が搭載されており，手と円柱物体との接触力を1000 fpsで計測できる．また，物体操作の阻害を少なくするために薄く作られている．

運動計測には，手全体のモーションキャプチャが可能である大村らのハンドモーションキャプチャを用いた(\figref{fig:glove}~(b))\cite{Ohmura:drift}．手全体に分布した18個の慣性センサによって，手の姿勢を222 fpsで計測できる．慣性式であるため，運動の阻害は少ない．

\begin{figure}[t!]
 \centering
  \includegraphics[width=0.40\textwidth]{figure/method/tactile-motion-capture-system.eps}
 \caption{Appearance of tactile sensor glove and hand motion capture system.}
 \label{fig:glove}
\end{figure}

% Method Section
\subsection{物体操作を特徴付ける接触運動の抽出法}

物体操作を高い時空間分解能で特徴づける接触運動を，毎回の物体操作における高い再現性と正確なタイミングに基づいて抽出した．

触覚の抽出は複数回の物体操作における，触覚の立ち上がりの再現性とタイミングの分散に着目して行った(\figref{fig:way-to-extract}~(a))．再現性は，90\%以上を基準とした．タイミングの分散は，複数回の物体操作の時間を線形補完することで正規化し，その時間での触覚の立ち上がりの分散が閾値以下であることを基準とした．再現性とタイミングの分散の両方が基準を満たす触覚を抽出された触覚とした．

運動の抽出は，関節角の運動方向が切り替わるタイミングの分散に着目して行った(\figref{fig:way-to-extract}~(b))．関節角の極値を取る時間として運動のタイミングを求めた．触覚と同様に正規化された時間で，運動のタイミングの分散が閾値以下であることを基準として運動を抽出した．

% 抽出方法
\begin{figure}[t!]
 \centering
  \includegraphics[width=.49\textwidth]{figure/method/extraction-of-tacmot.eps}
  \caption{Event extraction for analyses.}
 \label{fig:way-to-extract}
\end{figure}


\section{物体操作の計測実験}
\subsection{目的と方法}
% 目的と実験設定
物体操作を高い時空間分解能で特徴づける触覚と運動を抽出することで，異なる難易度の物体操作を比較することを目的とする．接触運動を抽出するための物体操作として，円柱物体を右手親指で押して回転させる物体操作を選定した．この操作は手全体での接触運動を必要とする．円柱物体は，複数種類の重りを挿入することで質量と重心の位置を設定できる(\figref{fig:cylinder})．物体操作は，重心が真ん中の円柱の操作(操作C)と重心が下に偏った円柱の操作(操作NC)のふたつを用意した．高時空間分解能データグローブによって，1人の被験者の円柱回転操作を計測した(\figref{fig:experiment-overview}~A)．触覚は平滑処理を行い，運動は線形補完を行うことで，接触運動のサンプリングレートを100 fpsとして解析した．親指が円柱物体に付くタイミングを正規化時間の0, 1として，一回の操作を切り出した．

% 円柱物体の物理パラメータ, 設計図
\begin{figure}[t!]
 \centering
 \includegraphics[width=0.3\textwidth]{figure/method/cylinder-property.eps}
 \caption{Manipulated cylinders. } 
 \label{fig:cylinder}
\end{figure}

% 実験風景
\begin{figure}[t!]
  \centering
  \includegraphics[width=0.45\textwidth]{figure/method/experiment-overview.eps}
  \caption{Overview of in-hand manipulation measurement. (A)~Overview of experiment. (B)~Reconstructed hand state using tactile sensor glove and motion capture system.}
 \label{fig:experiment-overview}
\end{figure}

操作から抽出する接触運動によって，物体操作の大域的な順序の差異ではなく，同じ順序で行う物体操作中における接触運動の差異を解析する．操作Cと操作NCは同一の操作順序により物体を回転させている．これらの操作は，以下の通りである(\figref{fig:snapshot})．
\begin{itemize}
    \item[A.] 親指と中指から小指で物体に力をかける．
    \item[B.] 親指と中指から小指で物体を半時計回りに回転させると同時に，人差し指で物体を抑える．
    \item[C.] 中指から小指を物体から離す．
    \item[D.] 中指から小指で物体を抑える．
    \item[E.] 親指を屈曲させて物体を押す準備を行うとともに人差し指を伸展させる．
\end{itemize}

% 操作のスナップショット
\begin{figure*}[t!]
  \centering
  \includegraphics[width=0.98\textwidth]{figure/method/snapshot-m1.eps}
  \caption{Snapshots of manipulation of rotating cylinder.}
 \label{fig:snapshot}
% 図: 抽出された接触運動
 \centering
  \includegraphics[width=.98\textwidth]{figure/experiment/m-db-ext.eps}
  \caption{Robust tactile-motor patterns while manipulations of C and NC. Red: robust tactile sensors. Gray: non-robust tactile sensors.}
 \label{fig:m-db-ext}
\end{figure*}

% 物体操作の難易度
操作NCと操作Cの重心位置と手の位置関係から，操作の難易度を考える．操作NCは円柱の重心が偏っており，手の上における物体の支持多角形の縁に物体の重心が近い．一方，操作Cは真ん中に重心があるため，指示多角形の中央部分に物体の重心が存在する．従って，物体が今にも手から落ちそうである操作NCのほうが難しい物体操作であると考えられる．


\subsection{結果}
まずふたつの物体操作を比較する前に，操作Cのみからロバストな接触運動を抽出して，その個数を調べた．抽出された触覚は99個(10\%)，運動は2個であった．このことから全ての接触運動ではなく，一部のロバストな接触運動で物体操作を特徴付けられることが示唆された．



次に，操作Cからロバストな接触パターンを抽出し，その空間分布及び時間分布を解析した．第一に空間分布について，抽出された触覚の位置を調べた(\figref{fig:tac-dist})．その結果，抽出された触覚の空間分布は局在していることがわかった．第二に時間分布について，全触覚に対する抽出された触覚の割合の時間分布を調べた(\figref{fig:m-db-ext}~(a))．その結果，割合は時間区間によって異なった．このことから操作を通してロバストに反応する触覚は，時間的に局在して分布することがわかった．

続いて，ふたつの物体操作からロバストな接触運動パターンを抽出し，難化による接触運動の変化をその個数の観点から調べた．その結果，操作Cから操作NCで，抽出された触覚は99個から186個に増加した．また，運動は2個から12個に増加した(\figref{fig:comp-mot})．このことから難しい操作では，ロバストな触覚と運動が増加した．このことは人が，操作の難化に伴ってロバストな接触運動を行うことを示唆している．


更に，ロバストな接触運動パターンを，空間分布と時間分布に着目することで細かく解析した．第一に空間分布について，ふたつの物体操作で抽出された接触運動の空間的関係を調べた．その結果，操作NCで抽出された触覚は，操作Cで抽出された触覚の70\%(69個)を共有していた(\figref{fig:comp-tac}~B)．また，操作Cで抽出された2つの運動は，操作NCでも抽出された(\figref{fig:comp-mot})．このことから，簡単な物体操作を特徴付けるロバストな接触運動パターンは，難しい物体操作のそれが高い割合を共有していた．第二に抽出された触覚の時間分布について，全触覚に対する抽出された触覚の平均反応率の割合を調べた．その結果，抽出された触覚の平均反応率の割合は，操作NCは操作Cに比べてふたつの時間区間で増加し，ひとつの時間区間で変化がなかった(\figref{fig:m-db-ext})．このことから，ロバストな接触パターンを時間方向に拡大することで，物体操作の難化に対応している可能性が示唆された．空間分布と時間分布を調べた結果をまとめると，人が行う物体操作の難化に対応する接触運動を，ロバストな接触運動パターンの追加によって説明できる可能性が示唆された．
% 図: 抽出された触覚の分布
\begin{figure}[t!]
 \centering
  \includegraphics[width=.48\textwidth]{figure/experiment/tac-distribution.eps}
  \caption{Spatial distribution of robust tactile sensors while manipulations of C and NC. (A) Spatial distribution of manipulation C. (B) Spatial distribution of manipulation NC.}
 \label{fig:tac-dist}
\end{figure}


% 図: 運動の比較
\begin{figure}[t!]
 \centering
  \includegraphics[width=.48\textwidth]{figure/experiment/mot-comp-with-cap.eps} %{figure/final/motor-time-distribution-trial-1_2.eps} 
 \caption{Temporal distribution of robust joints while manipulations of C and NC.}
 \label{fig:comp-mot}
\end{figure}

% 図: 接触運動の包含関係
\begin{figure}[!t]
 \centering
  \includegraphics[width=0.48\textwidth]{figure/experiment/comp-tac-with-cap.eps}
  \caption{Relationship between robust tactile sensors and joints of manipulation C and manipulation NC. (A) Spatial distribution of robust tactile sensors from manipulation C and NC. Light red: from manipulations both C and NC. Blue: only from manipulation C. Dark Red: only from manipulation NC. (B) A Venn diagram of the number of robust tactile sensors from manipulations C and NC.}
 \label{fig:comp-tac}
\end{figure}

\if 0
\begin{figure*}[t!]
    \begin{minipage}{0.3\textwidth}
    \centering
  \includegraphics[width=0.3\textwidth]{figure/experiment/mot-comp-with-cap.eps} %{figure/final/motor-time-distribution-trial-1_2.eps} 
 \caption{Temporal distribution of robust joints while manipulations of C and NC.}
 \label{fig:comp-mot}
  \end{minipage}

% 図: 接触運動の包含関係
    \begin{minipage}{0.3\textwidth}% \hfill
    \centering
  \includegraphics[width=0.4\textwidth]{figure/experiment/comp-tac-with-cap.eps}
  \caption{Relationship between robust tactile sensors and joints of manipulation C and manipulation NC. (A) Spatial distribution of robust tactile sensors from manipulation C and NC. Light red: from manipulations both C and NC. Blue: only from manipulation C. Dark Red: only from manipulation NC. (B) A Venn diagram of the number of robust tactile sensors from manipulations C and NC.}
 \label{fig:comp-tac}
  \end{minipage}
\end{figure*}

\fi

\section{結論}
本研究では，操作順序が同一で難易度の異なる物体操作を高時空間分解能データグローブによって計測し，物体操作を特徴づける触覚と運動を抽出して，それらを比較した．まず単一の物体操作からロバストな接触運動パターンを抽出することで，全ての接触運動ではなく，一部のロバストな接触運動パターンによって物体操作を特徴付けた．また，ロバストな触覚の時空間分布が局在していることがわかった．ここで抽出された触覚は指のリンクよりも空間分解能が細かいため，リンク単位で触覚を平均化する従来研究では捉えられない空間分解能の高さで物体操作を特徴付けることができた．続いて，物体操作の難化によるロバストな接触運動パターンの変化をその数で特徴づけて調べた結果，難化に伴いロバストな接触運動が増加する傾向を示唆した．更に，ロバストな接触運動パターンを空間分布と時間分布に着目することで細かく解析した結果，人が行う物体操作の難化に対応する接触運動を，ロバストな接触運動パターンの追加によって説明できる可能性が示唆された．


%以下引用
\begin{footnotesize}
%\bibliographystyle{IEEEtranS}
\bibliographystyle{junsrt}
\bibliography{bibTeX/thesis}
\end{footnotesize}


\end{document}
